<aside class="col-3 border border-light bg-white p-2">
  <article class="card mb-3">
    <div class="card-header">
      Les horaires
    </div>
    <div class="card-body">
      <p id="adminEcriture"><a href={{path('admin_horaires_index')}}>Les horaires du restaurant</a></p>
    </div>
  </article>
  <article class="card mb-3">
    <div class="card-header">
      Les plats
    </div>
    <div class="card-body">
      <p><a href={{path('admin_plats_liste_')}}>Liste des plats</a></p>
      <p><a href={{path('admin_plats_gestion_')}}>Gérer les plats</a></p>
    </div>
  </article>
  <article class="card mb-3">
    <div class="card-header">
      Les réservations
    </div>
    <div class="card-body">
      <p><a href={{path('app_compte_')}}>Liste des réservations</a></p>
      <p><a href={{path('app_reservation')}}>Ajouter une réservation</a></p>
    </div>
  </article>
   <article class="card mb-3">
    <div class="card-header">
      Les utilisateurs
    </div>
    <div class="card-body">
      <p><a href={{path('admin_utilisateurs_index')}}>Liste des utilisateurs</a></p>
    </div>
  </article>
  <article class="card mb-3">
    <div class="card-header">
      Capacité du restaurant
    </div>
    <div class="card-body">
      <p><a href={{path('admin_seat_index')}}>Gestion du nombre de places</a></p>
    </div>
  </article>
</aside>