<footer class="page-footer pt-4 text-light" id="footer">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-4 mt-md-0 mt-3">
                <h5 class="text-uppercase mb-4">LE QUAI ANTIQUE</h5>
                <img src={{ asset('images/logoquai.png') }} width="80" height="80">
            </div>
            <div class="col-md-4 mb-md-0 mb-3">
                <h5 class="text-uppercase mb-4 text-start">Horaires</h5>
                <ul class="list-unstyled d-flex flex-column align-items-start">
                    {% for OpeningTime in dayMethode %}
                        {% if OpeningTime.open == true %}
						<li>
							{{OpeningTime.day}}
							{{OpeningTime.OpenSoon|date('H:i')}} -
							{{OpeningTime.CloseSoon|date('H:i')}} /
                            {{OpeningTime.OpenNight|date('H:i')}} -
							{{OpeningTime.CloseNight|date('H:i')}}
						</li>
                        {% else %}
                        <li>{{OpeningTime.day}} : Fermé </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4 mb-md-0 mb-3">
                <h5 class="text-uppercase mb-4">ADRESSE</h5>
                <p>Le Quai Antique <br> 90 rue Pasteur, <br>73000 Chambéry</p>
                    <button class="me-2 btn-social-share btn btn-outline-primary"><i class="bi bi-linkedin"></i></button>
                    <button class="me-2 btn-social-share btn btn-outline-primary"><i class="bi bi-facebook"></i></button>
                    <button class="me-2 btn-social-share btn btn-outline-primary"><i class="bi bi-twitter"></i></button>
                    <button class="me-2 btn-social-share btn btn-outline-primary"><i class="bi bi-pinterest"></i></button>
            </div>
        </div>
    </div>
    {#<div class="footer-copyright text-center py-3">© 2022 Copyright : La Pergola, restaurant Niolon
    </div>#}
</footer>