<!-- Navbar  -->
<nav class="position-fixed navbar navbar-expand-lg navbar-dark bg-transparent w-100 text-light" id="navbarSite">
	<div class="container-fluid">
		<a class="navbar-brand" href={{path('app_main')}}>
			<img src={{ asset('images/logoquai.png') }} width="60" height="60">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href={{path('app_main')}}>Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href={{path('app_reservation')}}>Réservation</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href={{path('app_menu')}}>Menu</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href={{path('app_carte')}}>Carte</a>
				</li>
			</ul>
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">

				{# Nav lorsque l'admin se connecte #}
				{% if is_granted('ROLE_ADMIN') %}
				<li class="nav-item">
				 	<a class="nav-link" href={{path('admin_index')}}><b id="panelAdmin">Panneau d'administration</b></a>
				</li>
				{% endif %}

				{# Nav lorsque l'utilisateur se connecte #}
				{% if app.user %}
                    {#<li class="nav-item">
                        <a class="nav-link" href={{path('app_compte')}}>Mon compte</a>
                    </li>#}
                    <li class="nav-item">
                        <a class="nav-link" href={{path('app_logout')}}>Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_register')}}">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{path('app_login')}}>Connexion</a>
                    </li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
