{{ form_start(formResa) }}
<div class="row">
    {{ form_row(formResa.name)}}
    {{ form_row(formResa.time)}}
    {{ form_row(formResa.hour)}}
    {{ form_row(formResa.nbrguest)}}
    {{ form_row(formResa.meal_allergy)}}
    <button type="submit" class="btn btn-light">{{ button_label|default('Réserver') }}</button>
</div>

{{ form_end(formResa) }}