{% extends "base.html.twig" %}

{% block title %}Les réservations{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      {% include "_partials/_adminnav.html.twig" %}
        <main class="col-9 border border-light bg-white p-2">
          <h1>Liste des réservations</h1>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>NOM</th>
                <th>DATE</th>
                <th>INVITE</th>
                <th>HEURE</th>
                <th>ALLERGIES</th>
                <th>ACTION</th>
              </tr>
            </thead>
            <tbody>
              {% for reservationCompte in reservationCompte %}
                <tr>
                  <td>{{ reservationCompte.id }}</td>
                  <td>{{ reservationCompte.name }}</td>
                  <td>{{ reservationCompte.time|date('d-m-Y')}}</td>
                  <td>{{ reservationCompte.nbrguest}} personnes</td>
                  <td>{{ reservationCompte.hour|date('H:i:s')}}</td>
                  <td>{{ reservationCompte.mealallergy }}</td>
                  <td>
                    <a href="{{ path('app_compte_delete', {id: reservationCompte.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ reservationCompte.id) }}" class="btn btn-warning" id="myButtonDelete">Supprimer</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </main>
    </div>
  </div>
{% endblock %}