{{ form_start(mealForm) }}
<div class="row">
    <div class="col-md-6">{{ form_row(mealForm.title)}}</div>
    <div class="col-md-6">{{ form_row(mealForm.description)}}</div>
    <div class="col-md-6">{{ form_row(mealForm.price)}}</div>
    <div class="col-md-6">{{ form_row(mealForm.category)}}</div>
    <div class="col-md-6">{{ form_row(mealForm.favoris)}}</div>
    <div class="col-md-6">{{ form_row(mealForm.imageFile)}}</div>
    <button type="submit" class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>

</div>

{{ form_end(mealForm) }}