{{ form_start(mealForm) }}
<div class="row">
    <div class="col-md-6">{{ form_row(mealForm.title)}}</div>
    <div class="col-md-6">{{ form_row(mealForm.description)}}</div>
    <div class="col-md-6">{{ form_row(mealForm.price)}}</div>
    <div class="col-md-6">{{ form_row(mealForm.category)}}</div>
    <div class="col-md-6">{{ form_row(mealForm.favoris)}}</div>
    <div class="col-md-6">{{ form_row(mealForm.imageFile)}}</div>
    <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary mb-3">{{ button_label|default('Modifier') }}</button>
    </div>
</div>

{{ form_end(mealForm) }}