{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
<main class="full-width mb-3">
    <div class="container mx-auto">
        <h1> Réservation de votre table</h1>
        {{ form_start(formResa) }}
            <div class="row">
                <div class="col-md-6">{{ form_row(formResa.name)}}</div>
                <div class="col-md-6">{{ form_row(formResa.time)}}</div>
                <div class="col-md-6">{{ form_row(formResa.hour)}}</div>
                <div class="col-md-6">{{ form_row(formResa.nbrguest)}}</div>
                <div class="col-md-6">{{ form_row(formResa.meal_allergy)}}</div>
                <a href="{{path('app_reservation')}}" class="js-like">
                    <button type="submit" class="btn btn-dark mb-3">{{ button_label|default('Réserver') }}</button>
                </a>
            </div>
        {{ form_end(formResa) }}
    </div>
</main>

{% endblock %}

{% block javascripts %}
    {#<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        function onClickBtn(event){
            event.preventDefault();

            const url = this.href;

            axios.get(url).then(function (response) {
                console.log(response);
            })
        }

        document.querySelectorAll('js-like').forEach(function(link){
            link.addEventListener('click', onClickBtn);
        })
    </script>#}
{% endblock %}

