
{{ form_start(horaireForm) }}
<div class="row">
    <div class="col-md-4">{{ form_row(horaireForm.day)}}</div>
    <div class="col-md-12">{{ form_row(horaireForm.hour_in)}}</div>
    <div class="col-md-12">{{ form_row(horaireForm.hour_out)}}</div>
    <div class="col-md-12">{{ form_row(horaireForm.open)}}</div>
    <button type="submit" class="btn btn-primary mb-3">{{ button_label|default('Modifier') }}</button>

</div>

{{ form_end(horaireForm) }}