{% extends 'base.html.twig' %}

{% block title %} Administration des horaires{% endblock %}

{% block body %}
    <h1> Administration des horaires par journées </h1>
    <a href={{'jours/lundi'}}><button class="btn btn-primary"> Lundi </button></a>
    <a href={{'jours/mardi'}}><button class="btn btn-primary"> Mardi </button></a>
   <a href={{'jours/mercredi'}}><button class="btn btn-primary"> Mercredi </button></a>
    <a href={{'jours/jeudi'}}><button class="btn btn-primary"> Jeudi </button></a>
    <a href={{'jours/vendredi'}}><button class="btn btn-primary"> Vendredi </button></a>
    <a href={{'jours/samedi'}}><button class="btn btn-primary"> Samedi </button></a>
    <a href={{'jours/dimanche'}}><button class="btn btn-primary"> Dimanche </button></a>
{% endblock %}
