{% extends "base.html.twig" %}

{% block title %}Les horaires de la semaine{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      {% include "_partials/_adminnav.html.twig" %}
        <main class="col-9 border border-light bg-white p-2">
          <h1>Les horaires de la semaine</h1>
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>JOURS</th>
                <th>OUVERTURE MIDI</th>
                <th>FERMETURE MIDI</th>
                <th>OUVERTURE SOIR</th>
                <th>FERMETURE SOIR</th>
                <th>ACTION</th>
              </tr>
            </thead>
            <tbody>
              {% for OpeningTime in dayMethode %}
                <tr>
                  <td>{{OpeningTime.id}}</td>
                  <td>{{OpeningTime.day}}</td>
                  {% if OpeningTime.Open == "true" %}
                    <td>{{OpeningTime.OpenSoon|date('H:i')}}</td>
                    <td>{{OpeningTime.CloseSoon|date('H:i')}}</td>
                    <td>{{OpeningTime.OpenNight|date('H:i')}}</td>
                    <td>{{OpeningTime.CloseNight|date('H:i')}}</td>
                  {% else %}
                    <td> Fermé </td>
                    <td> Fermé </td>
                    <td> Fermé </td>
                    <td> Fermé </td>
                  {% endif %}
                  
                  <td>
                    <a href="{{path('admin_horaires_edit',{day: OpeningTime.day})}}"><button class="btn"id="myButton">Modifier</button></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </main>
    </div>
  </div>
{% endblock %}
