{% extends 'base.html.twig' %}

{% block title %} Menus du restaurant{% endblock %}

{% block body %}
<main>	
								<div class="row">
									<div class="col-sm-6">
                    {% for menu in menuMethode %}
											<div class="card">
												<div class="card-body">
													<h2 class="card-title">{% if menu.title == "Menu Moussaillon -10 ans" %}{{menu.title}}{% endif %}</h2>
													{% endfor %}
													{% for formula in formulaMethode %}
														<p class="card-text">
															{% if formula.title == "Formule du petit moussaillon" %} <h5> {{formula.title}}</h5>{% endif %}
															{% if formula.title == "Formule du grand moussaillon" %} <h5> {{formula.title}}</h5>{% endif %}
														</p>
														{% endfor %}
												</div>
											</div>
									</div>
									</div>
									</div>
									<div class="col-sm-6">
                    {% for menu in menuMethode %}
											<div class="card">
												<div class="card-body">
													<h2 class="card-title">{% if menu.title == "Menu Plaisir" %}{{menu.title}}{% endif %}</h2>
													{% endfor %}
													{% for formula in formulaMethode %}
														<p class="card-text">
															{% if formula.title == "Formule déjeuner" %} <h5> {{formula.title}}</h5>{% endif %}
															{% if formula.title == "Formule diner" %} <h5> {{formula.title}}</h5>{% endif %}
														</p>
														{% endfor %}
												</div>
											</div>
									</div>
								</div>
</main>								
									
{% endblock %}



