{% extends 'base.html.twig' %}

{% block title %} Administration des plats{% endblock %}

{#{% block body %}
    <main class="container mx-auto">
                <section class="row">
                        <div class="col-12">
                                <h1>Administration des plats</h1>
                        </div>
                        {% for Meal in mealMethode %}
                        <div class="col-12">
                        {{Meal.category.title}}
                        </div>
                        <div class="col-12">
                        {{Meal.title}}
                        <a href="/admin/plats/{{Meal.id}}"><button class="btn btn-primary"> Modifier </button></a>
                        <button type="submit" class="btn btn-danger">{{ button_label|default('Supprimer') }}</button>
                        </div>
                        {% endfor %}
                        <div class="col-12">
                            <a href="/admin/plats/ajout/{{27}}"><button class="btn btn-primary"> Ajouter un plat </button></a>
                        </div>
                         <div class="carousel-inner">
                    </div>
                </section>
        </main>
{% endblock %}#}

{% block body %}
<main>
	<table class="generic-table meal-list">
                <h1>Administration des plats</h1>
                <tbody>
                {% for meal in mealMethode %}
                        <tr>
                                <td>
                                        <img  src="{{ vich_uploader_asset(meal, 'imageFile') }}"alt="{{ asset(meal.title) }}">
                                </td>
                                <td>
                                        <p>{{ meal.category.title }}</p>
                                        <strong>{{ meal.title }}</strong>
                                        <p>{{ meal.description }}</p>
                                </td>
                                <td class="number"><strong>{{ meal.price | number_format(2, ',', ' ') }} €</strong>
                                </td>
                                <td>
                                <a href="/admin/plats/{{meal.id}}"><button class="btn btn-primary"> Modifier </button></a>
                                </td>
                                <td>

                                <a href="{{ path('admin_plats_delete', {id: meal.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ meal.id) }}" class="btn btn-warning">Supprimer</a>
                                </td>
                        </tr>
                        {% endfor %}
                </tbody>
        </table>
        <div class="col-12 text-center">
                <a href="/admin/plats/ajout/{{1}}"><button class="btn btn-primary"> Ajouter un plat </button></a>
        </div>
</main>
{% endblock %}