{% extends "baseAdmin.html.twig" %}

{% block title %}Les réservations{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      {% include "_partials/_adminnav.html.twig" %}
        <main class="col-9 border border-light bg-white p-2">
        <div class="table-responsive">
            <h1>Liste des plats</h1>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>CATEGORIE</th>
                  <th>TITRE</th>
                  <th>DESCRIPTION</th>
                  <th>PRIX</th>
                  <th>FAVORIS</th>
                </tr>
              </thead>
              <tbody>
                {% for meal in mealMethode %}
                  <tr>
                    <td>{{ meal.id }}</td>
                    <td>{{meal.category.title}}</td>
                    <td>{{ meal.title }}</td>
                    <td>{{ meal.description}}</td>
                    <td>{{ meal.price}} €</td>
                    {% if meal.favoris == 1 %}
                      <td>oui </td>
                      {% else %}
                      <td>non</td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </main>
    </div>
  </div>
{% endblock %}