{% extends "base.html.twig" %}

{% block title %}Les réservations{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      {% include "_partials/_adminnav.html.twig" %}
        <main class="col-9 border border-light bg-white p-2">
          <h1>Liste des réservations</h1>
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Catégorie</th>
                <th>TITLE</th>
                <th>DESCRIPTION</th>
                <th>PRICE</th>
              </tr>
            </thead>
            <tbody>
              {% for meal in mealMethode %}
                <tr>
                  <td>{{ meal.id }}</td>
                  <td>{{meal.category.title}}</td>
                  <td>{{ meal.title }}</td>
                  <td>{{ meal.description}}</td>
                  <td>{{ meal.price}} €</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </main>
    </div>
  </div>
{% endblock %}