{% extends 'base.html.twig' %}

{% block title %}La Carte{% endblock %}

{% block body %}
<main class="full-width mb-3">

    <div class="container d-flex flex-column justify-content-center align-items-center mb-4 mt-4">
        <div class="button-list mt-5 mb-4 w-100 d-flex justify-content-evenly">
            <button type="button" class="btn btn-outline btn-filter" id="myButton" data-filter="all" >Tout</button>
            <button type="button" class="btn btn-outline btn-filter" id="myButton" data-filter="entrees">Entrées</button>
            <button type="button" class="btn btn-outline btn-filter" id="myButton" data-filter="plats mer">Plats mer</button>
            <button type="button" class="btn btn-outline btn-filter" id="myButton" data-filter="plats terre">Plats terre</button>
            <button type="button" class="btn btn-outline btn-filter" id="myButton" data-filter="desserts">Desserts</button>
        </div>
        {# Affichage des entrées #}
        <div class="categorie-section" data-category="entrees">
                <h1>Les Entrées</h1>
                <div class="d-flex align-content-stretch flex-wrap">
                    {% for meal in mealMethode %}
                        {% if meal.category.title == "Les entrées" %}
                            <div id="card">
                                <img class="photoPlat img-fluid" src="{{ vich_uploader_asset(meal, 'imageFile') }}" alt="{{ asset(meal.title) }}">
                            </div>
                            <div class="card-info d-flex flex-column justify-content-center align-items-center">
                                <h3 class="card-title">{{ meal.title }}</h3>
                                <p class="descriptions">{{ meal.description }}</p>
                                <p class="price">{{ meal.price }}€</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {# Affichage des plats mer #}
        <div class="categorie-section" data-category="plats mer">
            <h1>Les Plats mer</h1>
            <div class="d-flex align-content-stretch flex-wrap">
                {% for meal in mealMethode %}
                    {% if meal.category.title == "Les plats mer" %}
                        <div id="card">
                            <img class="photoPlat img-fluid" src="{{ vich_uploader_asset(meal, 'imageFile') }}" alt="{{ asset(meal.title) }}">
                        </div>
                        <div class="card-info d-flex flex-column justify-content-center align-items-center">
                            <h3 class="card-title">{{ meal.title }}</h3>
                            <p class="descriptions">{{ meal.description }}</p>
                            <p class="price">{{ meal.price }}€</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {# Affichage des plats terre #}
        <div class="categorie-section" data-category="plats terre">
            <h1>Les Plats terre</h1>
            <div class="d-flex align-content-stretch flex-wrap">
                {% for meal in mealMethode %}
                    {% if meal.category.title == "Les plats terre" %}
                        <div id="card">
                            <img class="photoPlat img-fluid" src="{{ vich_uploader_asset(meal, 'imageFile') }}" alt="{{ asset(meal.title) }}">
                        </div>
                        <div class="card-info d-flex flex-column justify-content-center align-items-center">
                            <h3 class="card-title">{{ meal.title }}</h3>
                            <p class="descriptions">{{ meal.description }}</p>
                            <p class="price">{{ meal.price }}€</p>
                        </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {# Affichage des desserts #}
        <div class="categorie-section py-5" data-category="desserts">
            <h1>Les Desserts</h1>
            <div class="d-flex align-content-stretch flex-wrap">
                {% for meal in mealMethode %}
                    {% if meal.category.title == "Les desserts" %}
                        <div id="card">
                            <img class="photoPlat img-fluid" src="{{ vich_uploader_asset(meal, 'imageFile') }}" alt="{{ asset(meal.title) }}">
                        </div>
                        <div class="card-info d-flex flex-column justify-content-center align-items-center">
                            <h3 class="card-title">{{ meal.title }}</h3>
                            <p class="descriptions">{{ meal.description }}</p>
                            <p class="price">{{ meal.price }}€</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

</main>
{% endblock %}
