{% extends 'base.html.twig' %}

{% block title %}La Carte{% endblock %}

{% block body %}
<main class="container full-width">
    <article>
        <div class="button-list mt-5 mb-4 w-100 d-flex justify-content-evenly">
            <button type="button" class="btn btn-outline btn-filter" id="myButton" data-filter="all" >tout</button>
            <button type="button" class="btn btn-outline btn-filter" id="myButton" data-filter="entree">Les entrées</button>
            <button type="button" class="btn btn-outline btn-filter" id="myButton" data-filter="plats mer">Les plats mer</button>
            <button type="button" class="btn btn-outline btn-filter" id="myButton" data-filter="plats terre">Les plats terre</button>
            <button type="button" class="btn btn-outline btn-filter" id="myButton" data-filter="desserts">Les desserts</button>
        </div>
        {# Affichage des entrées #}
        <section class="categorie-section" data-category="entree">
            <h1>Les entrées</h1>
            <div class="row row-cols-1">
                <div class="d-flex justify-content-center flex-column text-center">
                    {% for meal in mealMethode %}
                        {% if meal.category.title == "Les entrées" %}
                            <div id="card">
                                <img class="photoPlat img-fluid" src="{{ vich_uploader_asset(meal, 'imageFile') }}" alt="{{ asset(meal.title) }}">
                            </div>
                            <div class="card-info d-flex flex-column justify-content-center align-items-center">
                                <h3 class="card-title">{{ meal.title }}</h3>
                                <p class="descriptions">{{ meal.description }}</p>
                                <p class="price">{{ meal.price }}€</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
        {# Affichage des plats mers #}
        <section class="categorie-section" data-category="plats mer">
            <h1>Les plats mer</h1>
            <div class="row row-cols-1">
                <div class="d-flex justify-content-center flex-column text-center">
                    {% for meal in mealMethode %}
                        {% if meal.category.title == "Les plats mer" %}
                            <div id="card">
                                <img class="photoPlat img-fluid" src="{{ vich_uploader_asset(meal, 'imageFile') }}" alt="{{ asset(meal.title) }}">
                            </div>
                            <div class="card-info d-flex flex-column justify-content-center align-items-center">
                                <h3 class="card-title">{{ meal.title }}</h3>
                                <p class="descriptions">{{ meal.description }}</p>
                                <p class="price">{{ meal.price }}€</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
        {# Affichage des plats terre #}
        <section class="categorie-section" data-category="plats terre">
            <h1>Les plats terre</h1>
            <div class="row row-cols-1">
                <div class="d-flex justify-content-center flex-column text-center">
                    {% for meal in mealMethode %}
                        {% if meal.category.title == "Les plats terre" %}
                            <div id="card">
                                <img class="photoPlat img-fluid" src="{{ vich_uploader_asset(meal, 'imageFile') }}" alt="{{ asset(meal.title) }}">
                            </div>
                            <div class="card-info d-flex flex-column justify-content-center align-items-center">
                                <h3 class="card-title">{{ meal.title }}</h3>
                                <p class="descriptions">{{ meal.description }}</p>
                                <p class="price">{{ meal.price }}€</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
        {# Affichage des desserts #}
        <section class="categorie-section" data-category="desserts">
            <h1>Les desserts</h1>
            <div class="row row-cols-1">
                <div class="d-flex justify-content-center flex-column text-center">
                    {% for meal in mealMethode %}
                        {% if meal.category.title == "Les desserts" %}
                            <div id="card">
                                <img class="photoPlat img-fluid" src="{{ vich_uploader_asset(meal, 'imageFile') }}" alt="{{ asset(meal.title) }}">
                            </div>
                            <div class="card-info d-flex flex-column justify-content-center align-items-center">
                                <h3 class="card-title">{{ meal.title }}</h3>
                                <p class="descriptions">{{ meal.description }}</p>
                                <p class="price">{{ meal.price }}€</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </article>
</main>
{% endblock %}
